<section class="container">
        <div class="text-over-imgblock">
            <h3>Acacias for All</h3>
            <p><%= t ".top_image_text" %></p>
        </div>
        <div class="image-centered">
        </div>
</section>

    <section id="spacer">
        <h2 class="hidden"><%= t ".title_example" %></h2>
            <p><%= t ".sentence_example" %></p>
            <div class="search">
                <form action="#">
                    <input type="text" name="sitesearch" value="Enter a word..."/>
                    <input type="submit" name="start_search" class="button" value="Search"/>
                </form>
            </div>
    </section>

    <section id="boxcontent">
        <h2 class="hidden"><%= t('.breathe').html_safe %></h2>
        <article>
            <%= image_tag("icon_tree.svg") %>
            <h3><%= t('.breathe').html_safe %></h3>
            <p><%= t('.breathe_subtitle').html_safe %></p>
        </article>
        <article>
            <%= image_tag("icon_tree.svg") %>
            <h3><%= t('.participate').html_safe %></h3>
            <p><%= t('.participate_subtitle').html_safe %></p>
        </article>
        <article>
            <%= image_tag("icon_tree.svg") %>
            <h3><%= t('.legacy').html_safe %></h3>
            <p><%= t('.legacy_subtitle').html_safe %></p>
        </article>
    </section>

    <section id="four_columns">
        <h2><%= t ".title_example" %></h2>
        <article class="img-item">
            <h3 class="hidden"><%= t ".title_example" %></h3>
            <figure>
                <a href="img/example-slide-1.jpg" title="Some Title">
                    <span class="thumb-screen"></span>
                 <%= image_tag("nature_2_small.jpg", alt: "altext nature 2") %></a>
                <figcaption>
                <strong>
                    <%= t ".title_example" %>
                </strong>
                <%= t ".sentence_example" %>
                </figcaption>
            </figure>
        </article>
            <article class="img-item">
                <h3 class="hidden"><%= t ".title_example" %></h3>
                <figure>
                <a href="img/example-slide-2.jpg" rel="lightbox" title="Some Title">
                        <span class="thumb-screen"></span>
                <%= image_tag("nature_3_small.jpg", alt: "altext nature 2") %></a>
                    <figcaption>
                    <strong>
                        <%= t ".title_example" %>
                    </strong>
                   <%= t ".sentence_example" %>
                    </figcaption>
                </figure>
            </article>
            <article class="img-item">
                <h3 class="hidden"><%= t ".title_example" %></h3>
                    <figure>
                        <a href="img/example-slide-3.jpg" title="Some Title">
                            <span class="thumb-screen"></span>
                         <%= image_tag("nature_1_small.jpg", alt: "altext nature 2") %></a>
                    <figcaption>
                        <strong>
                        <%= t ".title_example" %>
                        </strong>
                        <%= t ".sentence_example" %>
                    </figcaption>
                </figure>
            </article>
            <article class="img-item">
                <h3 class="hidden"><%= t ".title_example" %></h3>
                    <figure>
                        <a href="img/example-slide-4.jpg" title="Some Title">
                            <span class="thumb-screen"></span>
                            <%= image_tag("nature_4_small.jpg", alt: "altext nature 2") %></a>
                            <figcaption>
                    <strong>
                        <%= t ".title_example" %>
                    </strong>
                       <%= t ".sentence_example" %>
                    </figcaption>
                </figure>
            </article>
    <br class="clear"/>
</section>

<section id="text_columns">
    <h2 class="hidden"><%= t ".title_example" %></h2>
    <article class="column1">
        <h3>
        <%= t ".title_example" %></h3>
        <p><%= t ".paragraph_example" %></p>
        <p><%= t ".paragraph_example" %></p>
    <section class="column2">
        <h3 class="hidden"><%= t ".title_example" %></h3>
        <article class="row">
            <h4 class="hidden"><%= t ".title_example" %></h4>
            <img src="img/icon.png" width="80" class="rocket" alt="Some alt text"/>
        <p><%= t ".sentence_example" %></p></article>
        <article class="row">
            <h4 class="hidden"><%= t ".title_example" %></h4>
            <img src="img/icon.png" width="80" class="clock" alt="Some alt text"/>
        <p><%= t ".sentence_example" %>.</p>
        </article>
    </section>
</section>

<footer>
    <h2 class="hidden">Our footer</h2>
    <section id="copyright">
        <h3 class="hidden">Copyright notice</h3>
        <div class="wrapper">
            <div class="social">
                <a href="#"><img src="img/twitter.png" alt="google plus" width="25"/></a>
                <a href="#"><img src="img/twitter.png" alt="youtube" width="25"/></a>
                <a href="#"><img src="img/twitter.png" alt="bebo" width="25"/></a>
                <a href="#"><img src="img/twitter.png" alt="xing" width="25"/></a>
            </div>
                &copy; Copyright 2012 by <a href="http://www.lingulo.com">Lingulo</a>. All Rights Reserved.
        </div>
    </section>
</footer>
