<div class="image-top">
  <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>Acacias for All</h1>
            <h3><%= t ".top_image_text" %></h3>
    </header>
</div>
<div class="container">
  <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header text-center">
                    <%= t ".header_text" %>
                </h1>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-check"></i> <%= t('.breathe').html_safe %></h4>
                    </div>
                    <div class="panel-body">
                        <p><%= t('.breathe_subtitle').html_safe %></p>
                        <%= image_tag("energy_300x300.png") %>
                        <a href="#" class="btn btn-default"><%= t('.learn_more')%></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-gift"></i> <%= t('.participate') %></h4>
                    </div>
                    <div class="panel-body">
                        <p><%= t('.participate_subtitle') %></p>
                        <%= image_tag("linux.png") %>
                        <a href="#" class="btn btn-default"><%= t('.learn_more')%></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-compass"></i> <%= t('.legacy')%></h4>
                    </div>
                    <div class="panel-body">
                        <p><%= t('.legacy_subtitle')%></p>
                        <%= image_tag("icon_6693_300x300.png")%>
                        <a href="#" class="btn btn-default"><%= t('.learn_more')%></a>
                    </div>
                </div>
            </div>
        </div>
  
