<div class="container-report">
  <div class="report-list-title">
    <h3><%= t ".edit_entry_title", class: "report-list-title" %></h3>
  </div>

  <%= form_for @report, url: report_path, html: {method: "patch"} do |r| %>

    <%= r.label :user_name, t(".user_name") %><br>
    <%= r.text_field :user_name, class: 'input-report' %><br>


    <%= r.label :forest_name, t(".forest_name") %><br>
    <%= r.text_field :forest_name, class: 'input-report' %><br>


    <%= r.label :observation, t(".observation") %><br>
    <%= r.text_area :observation, class: 'input-report' %><br>

    <%= r.submit t(".send") %>

  <% end %>

</div>
