<h2><%= t ".new_entry_title" %></h2>

    <%= form_for @report do |r| %>

    <%= r.label :user_name, t(".user_name") %><br>
    <%= r.text_field :user_name %><br>


    <%= r.label :forest_name, t(".forest_name") %><br>
    <%= r.text_field :forest_name %><br>


    <%= r.label :observation, t(".observation") %><br>
    <%= r.text_area :observation %><br>

    <%= r.submit t(".send") %>

<% end %>