<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Acacias</title>

    <%= stylesheet_link_tag "reset" %>
    <%= stylesheet_link_tag "style" %>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans|Molengo' rel='stylesheet' type='text/css'/>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>

<body>

    <header>
        <h1>Acacias for All</h1>
        <h2>A responsible initiative</h2>
        <nav>
            <ul>
                <li><a href="/<%= locale %>/reports"><%= t ".reports_list" %></a></li>
                <li><a href="/<%= locale %>/reports/new"><%= t ".new_report" %></a></li>
                <li><%= link_to "Français", locale: :fr %></li>
                <li><%= link_to "English", locale: :en %></li>
            </ul>
        </nav>
    </header>

<%= yield %>
</body>
</html>
